{{!< layout}}
<div class="aui-group sidebar">
  <div class="aui-row">
    <div class="aui-item">
        <img class="logo" src="img/balogohorizontal.png" alt="">
      <h3>Skel List</h3>
      {{#each skels}}
      <div class="skel-container">
        <span class="skel-title">{{skel}}</span>
        <div class="skel-details hidden">
          {{#each envs}}
          <div id="{{../skel}}-{{this}}" class="environment-wrapper">
            <span class="environment">{{this}}</span>
              <div class="button-container">
            <button class="btn deploy-button" data-skel="{{../skel}}" data-env="{{this}}">
              Deploy
            </button>
            <button class="btn history-button" data-skel="{{../skel}}" data-env="{{this}}">
              History
            </button>
              </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script>
  $('.skel-title').on('click', function() {
    var $target = $(this).next('.skel-details');
    var $parentTarg = $target.parent();
    $target.slideToggle('fast');

    $parentTarg.toggleClass('active');
    $('.active').not($parentTarg).removeClass('active');
    $('.skel-details').not($target).slideUp('fast');
  });

  $('.btn').on('mouseover focus', function(){
      $(this).parent().siblings('.environment').addClass('active');
  });

  $('.btn').on('mouseleave focusout', function(){
      $(this).parent().siblings('.environment').removeClass('active');
  });

  $('.deploy-button').on('click', function() {
    var skel = $(this).data('skel'),
        env = $(this).data('env'),
        deploy_url = '/deploy/' + skel + '/' + env;
    AP.require('dialog', function(dialog) {
      dialog.open({
        key: "hipchat-deploybot-addon.deploy-dialog",
        options: {
          title: skel + " Deployment Options"
        },
        parameters: {
          skel: skel,
          env: env,
          deploy_url: deploy_url
        }
      });
    });
  });
</script>
