{{!< layout}}
<div class="aui-group sidebar">
  <div class="aui-row">
    <div class="aui-item">
        <img class="logo" src="img/balogohorizontal.png" alt="">
      <h3>Skel List</h3>
      {{#each skels}}
      <div class="skel-container">
        <span class="skel-title">{{skel}}</span>
        <div class="skel-details hidden">
          {{#each envs}}
          <div id="{{../skel}}-{{this}}" class="environment-wrapper">
            <span class="environment">{{this}}</span>
              <div class="button-container">
            <button class="btn deploy-button" data-skel="{{../skel}}" data-env="{{this}}">
              Deploy
            </button>
            <button class="btn history-button" data-skel="{{../skel}}" data-env="{{this}}">
              History
            </button>
              </div>
          </div>
          {{/each}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
<script>
  $('.skel-title').on('click', function() {
    var $target = $(this).next('.skel-details');
    var $parentTarg = $target.parent();
    $target.slideToggle('fast');

    $parentTarg.toggleClass('active');
    $('.active').not($parentTarg).removeClass('active');
    $('.skel-details').not($target).slideUp('fast');
  });

  $('.btn').on('mouseover focus', function(){
      $(this).parent().siblings('.environment').addClass('active');
  });

  $('.btn').on('mouseleave focusout', function(){
      $(this).parent().siblings('.environment').removeClass('active');
  });

  // TODO: deploy-button should instead pop open dialog for extra parameters
  $('.deploy-button').on('click', function() {
    var skel = $(this).data('skel'),
        env = $(this).data('env'),
        url = '/deploy/' + skel + '/' + env;
    $.ajax({
      type: 'POST',
      url: url,
      headers: { 'Authorization': 'JWT {{signed_request}}' }
    });
  });

  // The following are client-side APIs you can call to get information about
  // the room or user. For more information, go to:
  // https://developer.atlassian.com/hipchat/guide/hipchat-ui-extensions/views/javascript-api#JavascriptAPI-GettingcontextualinformationfromtheHipChatClient

  $('#room').on('click', function(){
    AP.require('room', function(room){
      room.getRoomDetails(function(err, data){
        if (!err) {
          $('#details-title').html('Room details');
          $('#details').html(JSON.stringify(data, null, 2));
        }
      });
    });
  });

  $('#participants').on('click', function(){
    AP.require('room', function(room){
      room.getParticipants(function(err, data){
        if (!err) {
          $('#details-title').html('Room participants');
          $('#details').html(JSON.stringify(data, null, 2));
        }
      });
    });
  });

  $('#user').on('click', function(){
    AP.require('user', function(user){
      user.getCurrentUser(function(err, data){
        if (!err) {
          $('#details-title').html('User details');
          $('#details').html(JSON.stringify(data, null, 2));
        }
      });
    });
  });
</script>
